<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="webjars/bootstrap/4.6.0/css/bootstrap.min.css"/>

    <style>
        body {
            background-color: whitesmoke;
        }

        #sidebar-wrapper {
            height: 100vh;
            width: 16rem;
        }

        #sidebar-wrapper .nav-link {
            width: 16rem;
        }

        #page-content-wrapper {
            min-width: 81vw;
        }

    </style>
</head>
<body>

<!--Navbar on the top-->

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <div class="navbar-brand col-sm-3 col-md-2 mr-0" id="navHeader"></div>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>
<br><br>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->

    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="nav flex-column nav-pills pt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="adminPill" data-toggle="pill" href="#adminTable" role="tab"
               aria-controls="adminTable" aria-selected="true"> <span>Admin</span> </a>
            <a class="nav-link" id="userPill" data-toggle="pill" href="#userInfo" role="tab"
               aria-controls="userInfo" aria-selected="false"> <span>User</span> </a>
        </div>
    </div>

    <!-- Page Content -->

    <div id="page-content-wrapper">
        <div class="tab-content">

            <!-- Admin Panel-->

            <div class="tab-pane show active p-4" id="adminTable" role="tabpanel" aria-labelledby="adminPill">
                <h1>Admin panel</h1>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-users-tab" data-toggle="tab" href="#nav-users"
                           role="tab" aria-controls="nav-home" aria-selected="true">Users table</a>
                        <a class="nav-item nav-link" id="nav-adduser-tab" data-toggle="tab" href="#nav-new"
                           role="tab" aria-controls="nav-new" aria-selected="false">New User</a>
                    </div>
                </nav>

                <!--Users table tab-->

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane show active" id="nav-users" role="tabpanel"
                         aria-labelledby="nav-users-tab">

                        <!--Table of users-->

                        <div class="card">
                            <div class="card-header">
                                <h4>All users</h4>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th> ID</th>
                                        <th> Username</th>
                                        <th> Nickname</th>
                                        <th> Email</th>
                                        <th> Role</th>
                                        <th> Edit</th>
                                        <th> Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="usersTable">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--New user tab-->

                    <div class="tab-pane" id="nav-new" role="tabpanel" aria-labelledby="nav-adduser-tab">
                        <div class="card">
                            <div class="card-header">
                                <h4>Add new user</h4>
                            </div>

                            <!--New user form-->

                            <div class="card-body text-center">
                                <form id="addUserForm">
                                    <div class="form-group">
                                        <label for="username2"><strong>Username</strong></label>
                                        <input type="text" class="form-control col-md-4 m-auto"
                                               id="username2"
                                               name="username" placeholder="Username" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="nickname2"><strong>Nickname</strong></label>
                                        <input type="text" class="form-control col-md-4 m-auto"
                                               id="nickname2"
                                               name="nickname" placeholder="Nickname" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="email2"><strong>Email</strong></label>
                                        <input type="email" class="form-control col-md-4 m-auto"
                                               id="email2"
                                               name="email" placeholder="Email" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="password2"><strong>Password</strong></label>
                                        <input type="password"
                                               class="form-control col-md-4 m-auto"
                                               id="password2" name="password" placeholder="Password" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="roles2" class="form-label"><strong>Role</strong></label>
                                        <select multiple class="form-control col-md-4 m-auto" style="height: 60px"
                                                id="roles2" name="roles2" required>
                                            <option value="ROLE_USER">USER</option>
                                            <option value="ROLE_ADMIN">ADMIN</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-success">Add new user</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- User Information-->

            <div class="tab-pane p-4" id="userInfo" role="tabpanel" aria-labelledby="userPill">
                <h1>User information-page</h1>
                <div class="card">
                    <div class="card-header">
                        <h4>About user</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th> ID</th>
                                <th> Name</th>
                                <th> Nickname</th>
                                <th> Email</th>
                                <th> Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="tableContent"></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="editModal">
    <form class="row" id="editForm">
        <div class="modal fade" id="editModal" role="dialog">
            <div class="modal-dialog text-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit user</h5>
                        <button class="close" data-dismiss="modal">x</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-6 m-auto">
                            <label for="id" class="form-label"><strong>ID</strong></label>
                            <div class="col-md-13">
                                <input type="text" class="form-control" id="id" name="id"
                                       value="" readonly/>
                            </div>
                        </div>
                        <br>
                        <div class="col-lg-6 m-auto">
                            <label for="username" class="form-label"><strong>Username</strong></label>
                            <div class="col-md-13">
                                <input type="text" class="form-control" id="username" name="username"
                                       value=""/></div>
                        </div>
                        <br>
                        <div class="col-lg-6 m-auto">
                            <label for="nickname" class="form-label"><strong>Nickname</strong></label>
                            <div class="col-md-13">
                                <input type="text" class="form-control" id="nickname" name="nickname"
                                       value=""/>
                            </div>
                        </div>
                        <br>
                        <div class="col-lg-6 m-auto">
                            <label for="email" class="form-label"><strong>Email</strong></label>
                            <div class="col-md-13">
                                <input type="email" class="form-control" id="email" name="email"
                                       value=""/>
                            </div>
                        </div>
                        <br>
                        <div class="col-lg-6 m-auto">
                            <label for="password" class="form-label"><strong>Password</strong></label>
                            <div class="col-md-13">
                                <input type="password" class="form-control" id="password" name="password"
                                       value=""/>
                            </div>
                        </div>
                        <br>
                        <div class="col-lg-6 m-auto">
                            <label for="roles" class="form-label"><strong>Role</strong></label>
                            <select multiple class="form-control" style="height: 60px" id="roles"
                                    name="roles" required>
                                <option value="ROLE_USER">USER</option>
                                <option value="ROLE_ADMIN">ADMIN</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button id="edit" type="submit" class="btn btn-dark">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Delete Modal -->
<div class="deleteModal">
    <form class="row" id="deleteForm">
        <div class="modal fade" id="deleteModal" role="dialog">
            <div class="modal-dialog text-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete user</h5>
                        <button class="close" data-dismiss="modal">x</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-6 m-auto">
                            <label for="id1" class="form-label"><strong>ID</strong></label>
                            <div class="col-md-13">
                                <input type="text" class="form-control" id="id1" name="id1"
                                       value="" readonly>
                            </div>
                        </div>
                        <br>
                        <div class="col-lg-6 m-auto">
                            <label for="username1" class="form-label"><strong>Username</strong></label>
                            <div class="col-md-13">
                                <input type="text" class="form-control" id="username1"
                                       value="" readonly></div>
                        </div>
                        <br>
                        <div class="col-lg-6 m-auto">
                            <label for="nickname1" class="form-label"><strong>Nickname</strong></label>
                            <div class="col-md-13">
                                <input type="text" class="form-control" id="nickname1"
                                       value="" readonly>
                            </div>
                        </div>
                        <br>
                        <div class="col-lg-6 m-auto">
                            <label for="email1" class="form-label"><strong>Email</strong></label>
                            <div class="col-md-13">
                                <input type="email" class="form-control" id="email1"
                                       value="" readonly>
                            </div>
                        </div>
                        <br>
                        <div class="col-lg-6 m-auto">
                            <label for="roles1" class="form-label"><strong>Role</strong></label>
                            <select multiple class="form-control" style="height: 60px" id="roles1" readonly>
                                <option>USER</option>
                                <option>ADMIN</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button id="delete" type="button" class="btn btn-dark">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script src="admin.js"></script>
</body>
</html>